<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="2.8.0.7" targetFramework="wp80" />
  <package id="AppPromo.WP8" version="1.0.0.5" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.8" targetFramework="wp80" />
  <package id="Microsoft.ApplicationInsights" version="0.11.1-build00694" targetFramework="wp80" />
  <package id="Microsoft.ApplicationInsights.WindowsPhone" version="0.11.1-build00694" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="wp80" />
  <package id="PhoneThemeManager" version="2.1.2" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>